@layer base {
    :root,
    .theme-light {
        --text-default-color: #222;
        --text-error-color: red;
        --text-muted-color: rgba(0, 0, 0, 0.3);
        --text-muted-light-color: rgba(255, 255, 255, 0.1);
        --text-accent-color: #47cdff;
        --text-accent-light-color: #8ae2fe;

        --page-background-color: #f5f6f9;
        --header-background-color: #fff;

        --button-background-color: #47cdff;
        --button-text-color: #fff;

        --card-background-color: #fff;
    }
}
