body {
    color: var(--text-default-color);
}

a {
    color: var(--text-default-color);
}

.label {
    @apply font-semibold;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
    color: var(--text-default-color);
    background-color: var(--card-background-color);
}

input.text-muted {
    color: var(--text-muted-color);
}
